/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .test{
  border: 2px red solid;
}
.test-col{
  border: 2px blue solid;
} */
/* *** NAVBAR *********************************************************** */
.navb-container{
  padding-right:5% !important;
  padding-left: 5% !important;
}

.nav-background{
  background-color: #FFE2CA;
}

.nav-logo{
 font-family:'Calistoga', serif;
 font-size: 2em;
}

.nav-logo a:link {
  font-family:'Calistoga', serif;
  color: black;
  text-decoration: none;
 }

 .nav-logo a:visited {
  font-family:'Calistoga', serif;
  color: black;
  text-decoration: none;
 }

.nav-item-text{
  font-size: 1em;
  font-family: 'Inter', sans-serif ;
  color: black !important;
  text-transform: uppercase;
}

.nav-link{
  font-weight: 600 !important;
}

 /* ***** HERO SECTION ********************************************* */
/* .home-bg-color{
  background-color: #F5F2ED;
  min-height: 100vh !important;
} */
.home-container{
  background-color: #FFE2CA;
  height: 90vh;
}

.home-col{
  height: inherit;
  padding: 1%;
  padding-left: 12%;
  padding-right: 12%;
}

.hero-text{
  font-family: 'Calistoga', serif;
  font-size: 4vw;
  line-height: 1.5em;
  color: #EA4E45;
}

.discover-text{
  color: black;
}

.home-container input{
  border: none;
  border-radius: 50px;
  font-size: 1.1em;
  padding:3%;
}

.hero-img{
  max-height: 90%;
  max-width: 100%;
}

@media (min-width: 390px){
  .hero-text-col{
    padding-bottom: 20% !important;
  }

  .hero-text{
    text-align: center;
    justify-content: center;
    font-size: 2em;
  }

  .hero-img-col{
    text-align: center;
  }

  .home-col input{
    padding-left: 7%;
  }
}

@media (min-width: 500px){
  .hero-text-col{
    /* padding: 2% !important; */
  }

  .hero-text{
    text-align: center;
    justify-content: center;
    font-size: 1.9em;
  }

  .hero-img{
    max-height: 90%;
    max-width: 87%;
    text-align: center;
    justify-content: center ;
  }
}

@media (min-width: 768px){
  .home-col{
    padding-top: 3%;
  }

  .hero-text{
    text-align: left;
    justify-content: left;
    font-size: 4em;
    width: 100%;
  }

  .hero-text-col{
    padding: 3%;
    padding-left: 10%;
  }

  .hero-img{
    max-height: 90%;
    max-width: 100%;
  }

  .hero-img-col{
    text-align: right;
    padding-right: 3%;
    padding-top: 5%;;
  }
}
/* ***************** HOME BROWSE SECTON *************************** */

.home-label-text{
  font-family: 'Calistoga', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em;
}

.home-hr{
  background-color: black !important;
  color: black;
  height: 2px;
  background: black;
  border: 0;

}

.cat-btn{
  padding: 10%;
  width: 100%;
  border-radius: 20px;
  background-color: #EA4E45;
  border: 1px solid #EA4E45;
  color: white;
  font-family: 'Calistoga', serif;
  font-size: 1.1em;
}

.cat-btn:hover{
  background-color: white;
  color: #EA4E45;
  border-color: #EA4E45;
}

#random-btn{
  padding: 10%;
  background-color: #FFE2CA;
  color: #EA4E45;
  border: none;
}

#random-btn:hover{
  border:#EA4E45 solid 2px;
}
/* ***************** HOME FEATURE SECTON *************************** */

.recipe-card{
  width: 100%;
  margin-top: 5%;
  border-color: #EA4E45 !important;
}

.card-border{
  border-color: #EA4E45 !important;
  border-width: 2px !important;
  border-radius: 30px !important;
}

.recipe-card a{
  background-color: #EA4E45;
  color: white;
  border: none;
}

.recipe-card a:hover{
  background-color: white;
  color: #EA4E45;
  border: 1px solid red;
}

.card-text{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ***************** BLOG FEATURE SECTON *************************** */
.blog-card img{
  height: 30vh;
  object-fit: cover;
}

.blog-card a{
  color: black;
}

.blog-card a:hover{
  color: gray;
}

.blog-home-label a{
  text-decoration: underline;
  color: black;
}

.blog-home-label a:hover{
  color: gray;
}

/* ***************** MEDIA QUERIES *************************** */

@media (min-width: 390px){
  .card-img-top{
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }

  .feature-padding{
    margin-top: 5%;
  }

  .recipe-card{
    height: 100vw;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .details-row{
    margin-top: 20% !important;
  }

  .about-title{
    font-family: 'Calistoga', serif;
    color: #EA4E45;
    font-size: 2em;
  }

  .about-text{
    font-family: 'Inter', sans-serif;
    color: #EA4E45;
    font-size: 1.1em;
  }

  .about-row{
    text-align: center;
  }
}

@media (min-width: 500px){
  .card-img-top{
    width: 100%;
    height: 35vw;
    object-fit: cover;
  }
  
  .recipe-card{
    height: 80vw;
    width: 100%;
    object-fit: cover;
  }

  .details-row{
    margin-top: 20% !important;
  }

  .about-container{
    height: 100%;
  }

}

@media (min-width: 768px){
  .card-img-top{
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
  .feature-padding{
    margin-top: 5%;
  }
  
  .recipe-card{
    height: 30vw;
    width: 80%;
    object-fit: cover;
  }
  .recipe-save-btn{
    font-family: "Inter", sans-serif;
    font-size: 1.2em;
    margin-top: 20% !important;
  }

  .recipe-save-btn button{
    text-transform: uppercase;
    border: none;
    background-color: #EA4E45;
    color: white;
    border-radius: 25px;
    padding: 2%;
  }

  .details-row{
    margin-top: 8% !important;
  }

  .recipe-container{
    max-width: 1000px !important;
  }

  .about-container{
    height: 100vh;
  }

  .about-title{
    margin-top: 15% !important;
    font-size: 2.5em;
  }

}

/* ***************** HOME FEATURE SECTON *************************** */

.card-img{
  width: 100%;
    height: 20vw;
    object-fit: cover;
  opacity: 0.6;
}


/* ***************** RESULTS PAGE *************************** */
.results-col{
  background-color: #FFFAEC;
  border-radius: 20px;
}

.filter-text{
  font-family: 'Calistoga', serif;
}

#filter-label{
    padding: 7%;
    border-radius: 10px;
    font-size: .9em;
}

#random-label{
  padding: 5%;
  background-color: #FFE2CA;
  color: #EA4E45;
  border: none;
  border-radius: 10px;
}

#random-label:hover{
  border:#EA4E45 solid 2px;
}

/* ***************** RECIPE DETAIL PAGE *************************** */

.dropdown-wrapper{
  position: relative;
}

.dropdown{
  position: absolute;
  transition: height 0.5s ease;
}

li{
  list-style-position: inside;
}

.recipe-title{
  font-family: 'Calistoga', serif;
  font-size: 2em;
}

.recipe-back{
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
}

.recipe-back a:active{
  color: black;
  text-decoration: none;

}

.recipe-back a:visited{
  color: black;
  text-decoration: none;

}

.recipe-back a:link{
  color: black;
  text-decoration: none;

}

.ingredient-card{
  background-color: #FFFAEC;
  padding: 3%;
  border-radius: 20px;
  width: 70%;
}

.ing-badge{
  font-family: 'Inter', sans-serif;
  font-size: 1em !important;
  text-transform: lowercase;
  width: 35% !important;
  background-color: #EA4E45;
  margin-right: 2%;
}

.dd-label{
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
}

.details-label-line{
  border-bottom: solid black 1px;
  padding-bottom: 2%;
}
/* ***************** ABOUT PAGE *************************** */


.about-container{
  background-color: #FFE2CA;
}

.about-img img{
  max-height: 90%;
  max-width: 90%;
}


/* ***************** SEARCH BAR *************************** */

.search-input{
  width: 75%;
  border: black solid 1px;
  border-radius: 50px;
  font-size: 1.1em;
  padding: 1% 2%;
}

/* ***************** BLOG PAGE *************************** */

.blog-card-title{
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
}

.blog-card-text{
  font-size: 1.2em;
}

.card-img-overlay a{
  background-color: none;
  text-decoration: underline;
}

.card-img-overlay a:visited{
  background-color: none;
  text-decoration: underline;
  color: white;
}


.blog-header{
  font-family: 'Calistoga', serif;
  font-size: 3.5em;
}


/* ***************** ARTICLE PAGE *************************** */
.article-title h2{
  font-family: 'Calistoga', serif;
  font-size: 1.9em;
}

.sub-title{
  font-family: 'Inter', sans-serif;
}


.sub-title button{
  background-color: #488732;
  color: white;
  border: none;
  border-radius: 50px;
  padding-top: .5%;
  padding-bottom: .5%;
  padding-right: 2%;
}

.horizontal-line-container{
  /* text-align: center !important; */
  margin-top: 8%;
  margin-bottom: 8%;
}

.horizontal-line{
  border-bottom: black solid 3px;
  width: 30% !important;
  height: 8vh;

}

.article-img-container img{
  height: 50vh;
  width: 100%;
  object-fit: cover;
  margin-bottom: 8%;
}

.article-back-btn{
  font-family: 'Inter', sans-serif;
}

.article-back-btn a{
  color: black;
  text-decoration: none;
}

.article-back-btn a:hover{
  color: gray;
  text-decoration: none;
}

.content{
  font-family: 'Inter', sans-serif;
  font-size: 1.3em;
  line-height: 150%;
}